# comparison operators

In [1]:
1==2

False

In [2]:
1==1

True

In [3]:
2>=1

True

In [4]:
3<=5

True

In [5]:
5>4

True

In [6]:
5<4

False

In [7]:
3!=3

False

In [8]:
3!=4

True

CHAINING COMPARISON OPERATORS WITH LOGICAL OPERATORS IN PYTHON

Logical operators are AND,OR,NOT

In [9]:
1==1

True

In [10]:
1==1 and 2==2

True

In [11]:
1!=1 and 2!=3

False

In [12]:
2==2 or 2!=2

True

In [13]:
2>4 or 2>13

False

T AND T==T     T OR T==T
T AND F==F     T OR F==T     NOT T==F
F AND T==F     F OR T==T     NOT F==T
F AND F==F     F OR F==F

In [14]:
not 2==2

False

In [15]:
not 2!=2

True

In [16]:
2<3>4

False

In [17]:
2<=3<=1

False

# python statements

IF,ELIF AND ELSE STATEMENTS

control flow syntax makes use of colons and intendations
this intendation is a crucial to python and is what sets its part from other programming languages

#syntax of IF condition
if some_condition:
    #execute some code

In [18]:
if 5>0:
    print('True')

True

In [19]:
if 5<0:
    print('False')
else:
    print('True')

True

In [20]:
Usha='Aru'
if Usha=='Hai':
    print('wishing')
elif Usha=='Pam':
    print('relation is Mother')
elif Usha=='Aru':
    print('relation is Love')

relation is Love

In [21]:
a=100
b=55
c=35
if (a>b and b>c):# In this condition if the 1st condition is TRUE it will print the  statement and exit from it> 
    print('True')
elif (a>c):
    print('True')
else:
    print('False')

True

# FOR loop statements

Many objects in python are 'ITERABLE' meaning we can iterate over every element in the object
such as every element in list or every character in a string
we can use for loop to execute a block of code for every iteration.

The Term 'Iterable' means you can Iterate over an object
for example You can iterate a character in a string and an item in alist and key in an dictionary

In [22]:
#SYNTAX
My_List=[1,2,3,4,5]#LIST
for items in My_List:#"ITEMS" is the iteration from the list
    print(items)

1
2
3
4
5

In [23]:
my_new_list=[1,2,3,4,5,6,7,8,9,10]
for items in my_new_list:
    if items%2==0:
        print(items)
    else:
        print('odd number:',items)

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [24]:
my_string='Hello World'
for letters in my_string:
    print(letters)

H
e
l
l
o

W
o
r
l
d

In [25]:
l=[1,2,3,4,5,6,7,8,9]
i=0
for n in l:
    i=i+n
    print(i)
print(i)

1
3
6
10
15
21
28
36
45
45

In [26]:
string='Hello World'
for ch in string:# ch reads every charater in string
    print(ch)

H
e
l
l
o

W
o
r
l
d

In [27]:
string='Hello World'
for ch in string:
    print('cool!')#ch reads every character but it will not print because we didnt print it
    #but it prints any string mention inside the loop to print "ch" times

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [28]:
tup=(1,2,3)
for i in tup:
    print(i)

1
2
3

In [29]:
mylist=[(1,2),(3,4),(5,6),(7,8)]#tuple in list unpacking
for t in mylist:
    print(t)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [30]:
mylist=[(1,2),(3,4),(5,6),(7,8)]#tuple in list unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [31]:
mylist=[(1,2),(3,4),(5,6),(7,8)]#tuple in list unpacking
for (a,b) in mylist:
    print(a)

1
3
5
7

In [32]:
myl=[(1,2,3),(4,5,6),(7,8,9)]

In [33]:
for item in myl:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [34]:
for a,b,c in myl:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [35]:
d={'K1':1,'k2':2,'k3':3}

In [36]:
for items in d:
    print(items)

K1
k2
k3

In [37]:
for items in d.items():
    print(items)

('K1', 1)
('k2', 2)
('k3', 3)

In [38]:
for key,value in d:
    print(value)

1
2
3

In [39]:
for value in d.values():
    print(value)

1
2
3

while loop will continue to execute block of code untill some condition is going to be true

while some_boolean_condition:
    #do something

while some_boolean_condition:
    #do somethong
else:                      SYNTAX
    #do something

In [40]:
X=0
while X<5:
    print(f'the current value of x is {X}')
    X+=1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [41]:
X=0
while X<5:
    print(f'the current value of x is {X}')
    X=X+1
else:
    print('X is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than 5

# BREAK, PASS, CONTINUE
Break,Pass,Continue statements in our loops to add functionality for various cases, these three are defined by
break: break out the current closest enclosing loop.
continue: goes to the top of the closest enclosing loop.#
pass: does nothing at all.

In [42]:
#PASS
a=[1,2,3]
for l in a:
    #comment if we want to print nothing in for loop we we use comment it shows error

IndentationError: expected an indented block (2703208961.py, line 4)

In [43]:
#PASS
a=[1,2,3]
for l in a:#to leave idel without printing for loop we can use pass keyword for not to print error
    pass

In [44]:
stri='USHA SRI'
for s in stri:
    if s=='A':#it breaks at specified or mentioned path
        break
    print(s)

U
S
H

In [45]:
stri='USHA SRI'
for s in stri:
    if s=='A':
        continue #it escapes the letter or values mentioned in the conditon
    print(s)

U
S
H

S
R
I

In [46]:
x=0
while x<5:
    if x==3:
        break #break statement stops at certain condition if we want to exit loop according to the condition 
    print(x)
    x=x+1

0
1
2

usefull operators in python

In [47]:
for num in range(0,10):
    print(num)#RANGE IS THE FUNCTION OR OPERATOR

0
1
2
3
4
5
6
7
8
9

In [48]:
for num in range(0,50):
    if num%2==0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [49]:
index_count=0
for letter in 'abcde':
    print(f'index {index_count} is for letter {letter}')
    index_count+=1

index 0 is for letter a
index 1 is for letter b
index 2 is for letter c
index 3 is for letter d
index 4 is for letter e

In [50]:
index_count=0
word='abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [51]:
range(0,11,2)#(start,stop,step)

range(0, 11, 2)

In [52]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [53]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
tuple(range(0,5))

(0, 1, 2, 3, 4)

In [55]:
set(range(0,5))

{0, 1, 2, 3, 4}

In [56]:
word='abcde'
for num in enumerate(word): #enumarate is a key word which prints output of its index and object
    print(num)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [57]:
word='abcde'
for index,letter in enumerate(word): #enumarate is a key word which prints output of its index and object
    print(index)
    print(letter)#we can seperately print the index and object 
    print('\n')

0
a


1
b


2
c


3
d


4
e

# zip() function

zip() is similar to enumerate function in this list is output as tuple

In [58]:
l=[1,2,3]
l1=['a','b','c']
l2=[100,200,300]
for item in zip(l,l1,l2):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [59]:
l=[1,2,3,4,5]
l1=['a','b','c']
l2=[100,200,300]
for item in zip(l,l1,l2):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [60]:
list(zip(l,l1,l2))#we are upacking the list into tupele and packed as again tuple

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [61]:
'x' in [1,2,3]

False

In [62]:
'x' in ['x','y','z']

True

In [63]:
'a' in 'Usha'

True

In [64]:
'k1' in {'k1':100}

True

In [65]:
d={'k1':100}
'k1' in d.keys()

True

In [66]:
d={'k1':100}
'k1' in d.values()#THIS IS ABOUT **IN** OPERATOR

False

In [67]:
from random import shuffle

In [68]:
list1=[1,3,4,2,6,8,5,9,12,10]

In [69]:
shuffle(list1)#SHUFFLE IS USED TO SHUFFLE THE NUMBERS IN LIST

In [70]:
list1

[10, 3, 9, 8, 4, 1, 5, 6, 12, 2]

In [71]:
max(list1)

12

In [72]:
min(list1)

1

In [73]:
from random import randint#**RANDINT PRINTS THE RANDOM INTEGER FROM GIVEN RANGE

In [74]:
randint(0,100)

81

In [75]:
randint(0,50)

40

# INPUT IS AN  FUNCTION IT RETURNS STRING INBULTY

In [ ]:
input('the output is ')

In [6]:
a=int(input('the value is'))
print(a+10)

the value is10
20

In [ ]:
print(a)

In [4]:
a=10
b=20

In [5]:
print(a+b)

30

In [7]:
result=input('the marks is ')

the marks is 100

In [8]:
print(result)

100

In [9]:
type(result)#type shows string if the input is also numeric because by default INPUT IS string

str

In [10]:
int(result)#we can change the default type by mentioning the datatype to input

100

In [11]:
float(result)

100.0